USE [assignment]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 10/12/2015 20:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [char](10) NOT NULL,
	[customer_name] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phone] [char](10) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[customers] ([customer_id], [customer_name], [address], [phone]) VALUES (N'KH001     ', N'Vũ Văn Hợp', N'Hà Thiên Lộn', N'0949482286')
INSERT [dbo].[customers] ([customer_id], [customer_name], [address], [phone]) VALUES (N'KH002     ', N'Cùi Văn Mía', N'Thôn Cùi Mía', N'0987221801')
INSERT [dbo].[customers] ([customer_id], [customer_name], [address], [phone]) VALUES (N'KH003     ', N'Phang Xong Chạy', N'Hấp Diêm Xóm', N'0985428751')
/****** Object:  Table [dbo].[types_product]    Script Date: 10/12/2015 20:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[types_product](
	[type_id] [char](10) NOT NULL,
	[type_name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_types_product] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[types_product] ([type_id], [type_name]) VALUES (N'1         ', N'Smart Phone')
INSERT [dbo].[types_product] ([type_id], [type_name]) VALUES (N'2         ', N'PC')
INSERT [dbo].[types_product] ([type_id], [type_name]) VALUES (N'3         ', N'Laptop')
/****** Object:  Table [dbo].[products]    Script Date: 10/12/2015 20:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [char](10) NOT NULL,
	[product_name] [nvarchar](max) NOT NULL,
	[amount] [char](10) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [char](10) NOT NULL,
	[type_id] [char](10) NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[products] ([product_id], [product_name], [amount], [description], [price], [type_id]) VALUES (N'Dp001     ', N'Panasonic KXTS580', N'10        ', N'New', N'400.000   ', N'4         ')
INSERT [dbo].[products] ([product_id], [product_name], [amount], [description], [price], [type_id]) VALUES (N'Dp002     ', N'Panasonic KXTS520', N'5         ', N'New', N'550.000   ', N'4         ')
INSERT [dbo].[products] ([product_id], [product_name], [amount], [description], [price], [type_id]) VALUES (N'Dp003     ', N'Viettel KX-T2373', N'5         ', N'New', N'800.000   ', N'4         ')
/****** Object:  Table [dbo].[invoices]    Script Date: 10/12/2015 20:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[invoices](
	[invoice_id] [char](10) NOT NULL,
	[initial_date] [date] NOT NULL,
	[customer_id] [char](10) NOT NULL,
	[total] [char](10) NOT NULL,
 CONSTRAINT [PK_invoices] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[invoices] ([invoice_id], [initial_date], [customer_id], [total]) VALUES (N'HD001     ', CAST(0x923A0B00 AS Date), N'KH002     ', N'22        ')
INSERT [dbo].[invoices] ([invoice_id], [initial_date], [customer_id], [total]) VALUES (N'HD002     ', CAST(0x8A3A0B00 AS Date), N'KH001     ', N'12        ')
INSERT [dbo].[invoices] ([invoice_id], [initial_date], [customer_id], [total]) VALUES (N'HD003     ', CAST(0x843A0B00 AS Date), N'KH001     ', N'23        ')
/****** Object:  Table [dbo].[details_invoice]    Script Date: 10/12/2015 20:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[details_invoice](
	[invoice_id] [char](10) NOT NULL,
	[product_id] [char](10) NOT NULL,
	[unit_price] [char](15) NOT NULL,
	[amount_purchase] [char](10) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[details_invoice] ([invoice_id], [product_id], [unit_price], [amount_purchase]) VALUES (N'HD001     ', N'Mob001    ', N'2.500.000      ', N'2.500.000 ')
/****** Object:  ForeignKey [FK_details_invoice_invoices]    Script Date: 10/12/2015 20:54:04 ******/
ALTER TABLE [dbo].[details_invoice]  WITH CHECK ADD  CONSTRAINT [FK_details_invoice_invoices] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[details_invoice] CHECK CONSTRAINT [FK_details_invoice_invoices]
GO
/****** Object:  ForeignKey [FK_details_invoice_products]    Script Date: 10/12/2015 20:54:04 ******/
ALTER TABLE [dbo].[details_invoice]  WITH CHECK ADD  CONSTRAINT [FK_details_invoice_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[details_invoice] CHECK CONSTRAINT [FK_details_invoice_products]
GO
/****** Object:  ForeignKey [FK_invoices_customers]    Script Date: 10/12/2015 20:54:04 ******/
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_customers]
GO
/****** Object:  ForeignKey [FK_products_types_product]    Script Date: 10/12/2015 20:54:04 ******/
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_types_product] FOREIGN KEY([type_id])
REFERENCES [dbo].[types_product] ([type_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_types_product]
GO
